.book-list-li {
    padding: 10px;
    margin: 10px;
    height: 40px;
    border: 2px solid rgb(35, 47, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-list-li div {
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.isRead {
    text-decoration: line-through;
    color: green;
}
.btn {
    border-radius: 14px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(174, 4, 4);
    cursor: pointer;
}
.blue-desc-btn {
    background-color: rgb(4, 106, 174);
    border-radius: 14px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.red-desc-btn {
    background-color: rgb(167, 2, 2);
    border-radius: 14px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}